scipy==1.11.1
transformers==4.31.0
trl==0.5.0
peft==0.4.0
datasets==2.14.3
bitsandbytes==0.41.1
accelerate==0.21.0
tensorboard==2.13.0
xformers==0.0.20
beautifulsoup4==4.12.2
matplotlib==3.7.2
lxml==4.9.3
